
{% if loggedIn == true %}
                {% else %}

                {% endif %}

<div class="sm:container sm:mx-auto mx-2">
    <div class="flex justify-between">
        <p class="text-5xl font-light">Square</p>
        <div>
            <p>Links</p>
        </div>
    </div>
</div>
