<!DOCTYPE html>
<html lang="en">
{% block header %}
    {% include "blocks/header.twig" %}
{% endblock %}
<body>
{% block nav %}
    {% include "blocks/nav.twig" %}
{% endblock %}

{% block body %}

{% endblock %}


{% block footer %}
    {% include "blocks/header.twig" %}
{% endblock %}
</body>
</html>